<template>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="fibonacci-panel">
      <div class="d-flex justify-content-around">
  
        <div class="col-5 d-flex flex-column">
          <label>Divsor</label>
          <input type="number" v-model="options.divisorOne" class="form-control" />
           <label>Phrase</label>
          <input v-model="options.divisorOnePhrase" class="form-control" />
        </div>

        <div class="col-5 d-flex flex-column ">
          <label>Divsor</label>
          <input type="number" v-model="options.divisorTwo" class="form-control" />
          <label>Phrase</label>
          <input v-model="options.divisorTwoPhrase" class="form-control"/>
        </div>
      </div>

       <div class="d-flex justify-content-around">
        <div class="col-5 d-flex flex-column">
          <label>X</label>
          <input type="number" v-model="y" class="form-control" />
        </div>

        <div class="col-5 d-flex flex-column ">
          <label>Y</label>
          <input type="number" v-model="z" class="form-control" />
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3 align-items-center">
        <input type="number" v-model="x" class="form-control fibonacci-input" />
        <button v-on:click="getSequence" class="btn btn-primary">Get Sequence!</button>
      </div>
    </div>
    <div class="mt-5">
      <h1 class="result-text">{{sequence}}</h1>
    </div>
  </div>
</template>

<script lang="ts">
  import { Options, Vue } from "vue-class-component";
  import { FizzBuzz } from "@/lib/fizz-buzz";
  import { IOptions } from "@/lib/options";
  import { FizzBuzzDefaultOptions } from "@/lib/fizz-buzz-default-options";
  import { FibonacciSequence } from "@/lib/fibonacci-sequence";

  @Options({ })
  export default class Fizzonacci extends Vue {
      private options: IOptions = {
        divisorOne: FizzBuzzDefaultOptions.divisorOne,
        divisorOnePhrase: FizzBuzzDefaultOptions.divisorOnePhrase,
        divisorTwo: FizzBuzzDefaultOptions.divisorTwo,
        divisorTwoPhrase: FizzBuzzDefaultOptions.divisorTwoPhrase
      };
      private sequence = '';
      private x = 6;
      private y = 1;
      private z = 2;
      private fibonacci = new FibonacciSequence();
      
      get fizzBuzz(): FizzBuzz {
        return new FizzBuzz(this.options);
      } 
      
      getSequence(): void {
        this.sequence = this.fibonacci.getSequence(Number(this.x), Number(this.y), Number(this.z), this.fizzBuzz).join(',');
      }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .fibonacci-panel {
    width: 55%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 20px;
  }

  input {
    margin: 10px;
  }

  label {
    font-weight: bolder;
  }

  .result-text {
    font-size: 100px;
    margin-top: 4 rem;
  }

  .btn {
    width: 150px;
  }

  .fibonacci-input {
    width: 60%;
  }
</style>
