<template>
  <Fizzonacci />
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Fizzonacci from './components/Fizzonacci.vue';

@Options({
  components: {
    Fizzonacci,
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  background-color: #e2e1e0;
}
</style>
